<div class="layout">
  <header class="header">
    <h1>Book Management System</h1>
  </header>
  <div class="main">
    <aside class="sider">
        <div>
        <a routerLink="book-management" routerLinkActive="active">Quản lý sách</a>
        <a routerLink="add-book" routerLinkActive="active">Thêm mới sách</a>
      </div>
        <div class="logout-container"><button class="logout-btn" (click)="logout()">Đăng xuất</button></div>
    </aside>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>

  <footer class="footer">
    <p>© 2024 Book Management System</p>
  </footer>
</div>